
@{
    ViewBag.Title = "ActionFailed";
}

<p>The action you were trying to peform failed! Make sure the data you submitted was correct. Use 
    <a href="~/account/Index">this</a> link to go back to your account/login page or 
    <a href="~/Home/Index">this</a> link to go back to the homepage</p>