@model string
@{
    ViewBag.Title = "Error";
}

<h2>@Model</h2>
<p>Click <a href="~/Home/Index">here</a> to return to the homepage or <a href="~/Coinflip/Index">here</a> to return to the coinflip page</p>